pandas==2.2.3
numpy==2.0.2
python-dotenv==1.0.1
influxdb-client==1.47.0
confluent-kafka==2.6.0
scikit-learn==1.5.2
statsmodels==0.14.4
matplotlib==3.9.2
seaborn==0.13.2
tensorflow==2.18.0
psycopg2-binary==2.9.10
colorama==0.4.6